.btn-login {
  background: #4242dd;
  color: #fff;
  width: 18rem;
  height: 2.7rem;
  cursor: pointer;
}

.btn-filter {
  width: 5rem;
  height: 2rem;
  background: rgb(10, 177, 10);
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-clear {
  width: 5rem;
  height: 2rem;
  background: none;
  border: 1px solid rgb(10, 177, 10);
  border-radius: 0.3rem;
  color: rgb(10, 177, 10);
  cursor: pointer;
}

.btn-create {
  width: 6rem;
  background: #4242dd;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
